<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NerdBurguer</title>
  <link rel="stylesheet" href="css/style1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <!-- Cabeçalho -->
  <header>
    <a href="#" class="logo">Nerd<span>Burguer</span></a>

    <input type="checkbox" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <nav class="navbar">
      <a href="home.html">Home</a>
      <a href="#sobre">Sobre</a>
      <a href="#produtos">Produtos</a>
      <a href="#contato">Contato</a>
      <a href="../Controller/formularioLogin - Cliente.html">Login</a>
    </nav>

    <div class="icons">
      <a href="#" class="fas fa-shopping-cart"></a>
    </div>
  </header>

  <!-- Seção Home -->
  <section class="home" id="home">
    <div class="content">
      <h3>Bem-vindo à NerdBurguer!</h3>
      <span>hambúrgueres geeks para mentes brilhantes</span>
      <a href="#produtos" class="btn">Ver Produtos</a>
    </div>
  </section>

  <!-- Seção Sobre -->
  <section class="about" id="sobre">
    <div class="row">
      <div class="video-container">
        <video src="img/video.mp4" loop autoplay muted></video>
        <h3>Nossos lanches</h3>
      </div>
      <div class="content">
        <h3>por que escolher a gente?</h3>
        <p>Porque nossos lanches são inspirados em personagens, sagas e memes! Aqui você come e se diverte.</p>
      </div>
    </div>
  </section>

  <!-- Seção Produtos -->
  <section class="products" id="produtos">
    <h1 class="heading"> nossos <span>produtos</span></h1>

    <div class="box-container">
      <div class="box">
        <div class="image">
          <img src="img/burguer1.jpeg" alt="Burguer 1">
        </div>
        <div class="content">
          <h3>Burguer Yoda</h3>
          <div class="prince">R$25,00 <span>R$30,00</span></div>
          <a href="#" class="btn">Adicionar ao carrinho</a>
        </div>
      </div>

            <div class="box">
        <div class="image">
          <img src="img/burguer2.jpeg" alt="Burguer 1">
        </div>
        <div class="content">
          <h3>x-mário</h3>
          <div class="prince">R$22,00 <span>R$25,00</span></div>
          <a href="#" class="btn">Adicionar ao carrinho</a>
        </div>
      </div>

            <div class="box">
        <div class="image">
          <img src="img/burguer3.jpeg" alt="Burguer 1">
        </div>
        <div class="content">
          <h3>duplo ender</h3>
          <div class="prince">R$25,00 <span>R$30,00</span></div>
          <a href="#" class="btn">Adicionar ao carrinho</a>
        </div>
      </div>

            <div class="box">
        <div class="image">
          <img src="img/burguer4.jpeg" alt="Burguer 1">
        </div>
        <div class="content">
          <h3>Angry burguer</h3>
          <div class="prince">R$25,00 <span>R$30,00</span></div>
          <a href="#" class="btn">Adicionar ao carrinho</a>
        </div>
      </div>

            <div class="box">
        <div class="image">
          <img src="img/burguer5.jpeg" alt="Burguer 1">
        </div>
        <div class="content">
          <h3> X - cordyceps</h3>
          <div class="prince">R$25,00 <span>R$30,00</span></div>
          <a href="#" class="btn">Adicionar ao carrinho</a>
        </div>
      </div>
      <!-- Adicionar mais boxes conforme necessário -->
    </div>
  </section>

  <!-- Seção Contato -->
  <section class="contact" id="contato">
    <h1 class="heading"> <span>contate</span>-nos </h1>
    <div class="content">
      <p>Email: nerdburguer@email.com</p>
      <p>WhatsApp: (00) 00000-0000</p>
    </div>
  </section>


</body>
</html>
